<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">

            <div class="col-lg-12 nopadding" style="margin-top: 10px;">
                        <div class="row" style="direction: rtl; margin-left:0%;">
                            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי שם מוצר" required (keyup)='updateFilter($event)'>
                                </div>
                            </div>
                            <div class="col-lg-1 nopadding" style="margin-top: 26px !important;">
                                <button [routerLink]="['/', folderName , 'add' ,{sub:SubCatId}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                                    <div class="buttonDivBadge">

                                    </div>
                                    <div class="buttonDivText">
                                        <span class="sideButtonTextEmpty">הוסף</span>
                                    </div>
                                    <div class="buttonDivIcon">
                                        <i class="fa fa-plus "></i>
                                    </div>
                                </button>
                            </div>
                            <!--<div class="col-lg-1 nopadding" style="margin-top: 26px;">-->
                                <!--<button [routerLink]="['/', 'subCategory' , 'index' , { id:Category}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                                    <!--<div class="buttonDivText">-->
                                        <!--<span class="sideButtonTextEmpty">חזרה</span>-->
                                    <!--</div>-->
                                    <!--<div class="buttonDivIcon">-->
                                        <!--<i class="fa fa-chevron-left"></i>-->
                                    <!--</div>-->
                                <!--</button>-->
                            <!--</div>-->

                        </div>

                        <ngx-datatable
                                [headerHeight]="40"
                                [footerHeight]="'falsey'"
                                [rowHeight]="'auto'"
                                [columnMode]="'force'"
                                [rows]="ItemsArray">

                            <!-- Column Templates -->

                            <ngx-datatable-column name="לוגו" [sortable]="false" [width]="180" >
                                <ng-template let-row="row" ngx-datatable-cell-template align="center">
                                    <div (click)="openDetailsModal(details, row)">
                                        <img [src]="row.FullPath" height="50" width="50" *ngIf="row.image !== ''">
                                        <img src="assets/images/placeholders/logo.png" height="50" width="50" *ngIf="row.image === ''">
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="שם"  [width]="120" prop='title'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.title}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="קטגורייה" [sortable]="true"  [width]="120" prop='CategoryName'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.CategoryName">{{row.CategoryName}}</strong>
                                    <strong *ngIf="!row.CategoryName">אין נתונים</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="תת - קטגורייה" [sortable]="true"  [width]="120" prop='SubCategoryName'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.SubCategoryName">{{row.SubCategoryName}}</strong>
                                    <strong *ngIf="!row.SubCategoryName">אין נתונים</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="ספק" [sortable]="true"  [width]="120" prop='SupplierName'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.SupplierName">{{row.SupplierName}}</strong>
                                    <strong *ngIf="!row.SupplierName">אין נתונים</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name='מק"ט' [sortable]="true"  [width]="80" prop='sku'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.sku">{{row.sku}}</strong>
                                    <strong *ngIf="!row.sku">אין נתונים</strong>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column name="מחיר" [sortable]="true"  [width]="80" prop='low_price'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.low_price">{{row.low_price}}</strong>
                                    <strong *ngIf="!row.low_price">אין נתונים</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="דף ראשי" [sortable]="true"  [width]="80" prop='mainPage'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong *ngIf="row.mainPage == 0">לא</strong>
                                    <strong *ngIf="row.mainPage == 1">כן</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="דירוג" [sortable]="true"  [width]="80" prop='position'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong >{{row.position}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="פעולות" [sortable]="false" [width]="400" style="direction: ltr !important; text-align: left !important;" align="left">
                                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                                    <button type="button" class="btn btn-info" (click)="openPositionModal(position, row)">דירוג</button>
                                    <button type="button" class="btn btn-success" (click)="openDetailsModal(details, row)">פרטים</button>
                                    <button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: row.id}]">ערוך</button>
                                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button>
                                    <button type="button" class="btn btn-info" [routerLink]="['/', 'productImages' , 'index' , { id: row.id , subCat:SubCatId}]">תמונות - {{row.ImageCount}}</button>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
            </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important;">מחק מוצר</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right">אישור מחיקה</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #details let-c="close" let-d="dismiss">
    <div style="width: 100%; margin-top: 20px;" align="center">
        <div style="width: 70%">
            <img src={{selectedItem.FullPath}} style="width: 70%" />
        </div>
    </div>
    <div>

    </div>
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right">{{selectedItem.title}}</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" style="direction: rtl">
        <div class="m-2">
            &nbsp;  
            תת-קטגורייה : {{selectedItem.SubCategoryName}}

        </div>

        <div class="m-2">
              מחיר חדש : {{selectedItem.high_price}}&nbsp;  | &nbsp;
             מחיר ישן : {{selectedItem.low_price}}
        </div>

        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="c()">סגור</button>
        </div>
    </div>
</ng-template>


<ng-template ngbModalContainer></ng-template>
<ng-template #position>
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">עידכון דירוג</h6>
        <button type="button" class="close" aria-label="סגור" (click)="closeRankModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="number"  min="0" dir="ltr" placeholder="דירוג" [(ngModel)]="categroyrow.position" style="width: 100%;">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeRankModal()">סגור</button>
        <button type="button" *ngIf="!sent" class="btn btn-primary"  (click)="updatePrdPosition()">עידכון</button>
    </div>
</ng-template>
