<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">
            <div class="col-lg-12 nopadding" style="margin-top: 10px;">
                        <div class="row" style="direction: rtl; margin-left:0%;">
                            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                                    <div class="row">
                                        <label class="uploader">
                                            <!--<img *ngIf="changeImage" src="{{changeImage}}" [class.loaded]="imageLoaded" style="width: 100px;"/>-->
                                            <!--<img *ngIf="!changeImage" src="{{host}}{{Item.image}}" [class.loaded]="imageLoaded" style="width: 100px;"/>-->
                                            <input #fileInput type="file" name="file" accept="image/*" (change)="onChange($event)">
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
            </div>

</div>
<div class="row">
    <div class="media-grid col-lg-3 col-sm-6" *ngFor="let Item of ItemsArray">
        <figure>
            <img src="{{host}}{{Item.image}}" alt="Card image cap" class="img-fluid" />
            <figcaption>
                <!--<h5 class="media-title fw-300">Media <strong>{{ id }}</strong></h5>-->
                <p>
                    <a href="javascript:;" placement="left" ngbTooltip="Delete" (click)="deleteItem(Item.id)"><i class="icon-arrows-remove"></i></a>
                    <!--<a href="javascript:;" placement="left" ngbTooltip="Like"><i class="icon icon-basic-heart"></i></a>-->
                    <!--<a href="javascript:;" placement="left" ngbTooltip="Share"><i class="icon icon-basic-share"></i></a>-->
                    <!--<a href="javascript:;" placement="left" ngbTooltip="Bookmark"><i class="icon icon-basic-bookmark"></i></a>-->
                </p>
            </figcaption>
        </figure>
    </div>
</div>








