<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
הוספת מוצר
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
          <div class="row" >
            <div class="form-group" class="col-lg-6" *ngFor="let row of rows let i=index" style="margin-top: 15px;">
              <label  >הכנס {{rowsNames[i]}} </label>
              <input type="text" class="form-control textWhite"   name={{row}} [(ngModel)]="Item[row]"  ngModel required>
            </div>

          </div>

          <div class="row" >

            <div class="form-group" class="col-lg-12"  style="margin-top: 15px;">
              <label >הכנס מק"ט </label>
              <input type="text" class="form-control textWhite"  name="sku" [(ngModel)]="Item.sku"  ngModel >
            </div>

          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label  >תיאור</label>
              <textarea rows="4" cols="50" class="form-control textWhite"  [(ngModel)]="Item.description" name="description" ngModel > </textarea>
            </div>
            <!--<div class="form-group" class="col-lg-12">-->
              <!--<label for="formGroupExampleInput">תיאור באנגלית</label>-->
              <!--<textarea rows="4" cols="50" class="form-control textWhite" id="formGroupExampleInput" [(ngModel)]="Item.description_english" name="description_english" ngModel > </textarea>-->
            <!--</div>-->
          </div>

          <div class="row" >


            <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
              <label > קטגוריה</label>
              <select class="form-control textWhite" [(ngModel)]="Item.category_id" name="category_id" (change)="getSubCategories($event)" required>
                <!--<option  [value]="0" selected>בחירת קטגוריה</option>-->
                <option *ngFor="let item of Categories let i=index" [value]="item.id">{{item.title}}</option>
              </select><br/>
            </div>

            <div class="form-group" class="col-lg-6" style="margin-top: 15px;"  >
              <label > תת קטגורייה </label>
              <select class="form-control textWhite" [(ngModel)]="Item.sub_category_id" name="sub_category_id" required>
                <!--<option  [value]="0" selected>בחירת תת קטגוריה</option>-->
                <option *ngFor="let item of SubCategories let i=index" [value]="item.id">{{item.title}}</option>
              </select><br/>
            </div>



          </div>



            <div class="row">


              <div class="form-group" class="col-lg-6">
                <label  >ספק</label>
                <select class="form-control textWhite" [(ngModel)]="Item.supplier_id" name="supplier_id">
                  <option *ngFor="let item of suppliersArray let i=index" [value]="item.id">{{item.title}}</option>
                </select><br/>
              </div>


              <div class="form-group" class="col-lg-6">
                <label >הופעה בדף ראשי</label>
                <select class="form-control textWhite" [(ngModel)]="Item.mainPage" name="mainPage">
                  <option  [value]="0" selected>לא</option>
                  <option  [value]="1">כן</option>
                </select><br/>
              </div>
            </div>






          <div class="row">

            <div class="form-group" class="col-lg-6">
              <div class="row">
                <input #fileInput type="file"/>
              </div>
            </div>
          </div>

          <div class="row" align="left" style="float: left; margin-left: 5px">
            <button [disabled]="!f.valid" type="submit"
                    class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
              <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>